> explicitly prohibits Detached EAT Bundles (application/eat-bun+cbor, CF 265). This removes the only EAT-standard mechanism (RFC 9711 §4.2.18.2 + §5) for cryptographically binding large detached claims sets to the signed CCA Platform token

The text in the profile is intended to indicate that the PAT underpins the signing structure for all other components of attestation and hence itself should not be carried in a DEB but that may not be clear. The following summary section probably makes that condition worse. Thank you for pointing this out, the text will be updated.

LFA FAL
> The draft does not specify:
>     a transport for the FAL;
>     a label/identifier under which a verifier should look it up.
>     Inlining the FAL as a Claims-Set submodule is impractical because activity logs grow unbounded over the deployment lifetime of the platform. 

The LFA aspects of CCA attestation are not yet in the draft.

There is documentation in the RMM spec (DEN0137) that indicates where the security hash for the FAL resides (see ref UJJLJT) and for the transport (additional CMW entry, see ref IPTKYD).  The design for the FAL is that it lives in the host, due to its unbounded nature and is retrieved via RHI (DEN0148) and added to the attestation token. A full write up of the end to end attestation system has been prepared, but is awaiting a decision on the correct publication vehicle.

C-DAT artifacts

> Gap 2 — CMEM raw SPDM evidence and certificate chain
> arm-platform-extension currently encodes only digests of off-platform evidence:

This is yet to be added to the draft. The RHI has an Appendix that documents the flows for device attestation. RMM ref IPTKYD specifies the CMW entry for the C-DAT.

> Gap 3 — Composite attesters embedded as software components
> §3 explicitly scopes CCA to "a 'layered attester' (Section 3.2 of [RFC9334]) with exactly two layers: platform and realm". However, the individual entries in arm-platform-sw-components (§4.6.1) can themselves be composite attesters. 

This is a misunderstanding of the platform token. It captures the full TCB for the CCA platform. The entries in arm-platform-sw-components is the set of loaded components (FW + config) included in that TCB. All CPU instances in CCA have the same CCA platform boot state (see DEN0086). What may be possible, where multiple RoT instances cannot form a unified identity or elect a primary to handle attestation is that the hardware state of peers to the current RoT supplying the PAT may need to be declared. The arm-platform-peer-signer claim is used to capture these other identities.

> Two devices of the same type need distinct keys at the top level.

Note that where multiple attached devices may be present, the current claim set uses array entries for the bindings avoiding name clashes on extra components.

> Verifier search complexity and execution time increases and policy may become fragile... This is fragile and can be avoided using standard submods with DEB.

This seems to assume that the single platform verifier will have to try to understand all other attestation entries. Instead, verification of a collection token can involve multiple specific verifier modules. A lead verifier can read the CMW and then hand off the relevant entries to relevant verification modules e.g. event log handling vs EAT corim comparisons. Where binding checks are needed, these can often be done on the EAR responses where all data sets are normalised to the same data model. 

> CMW does not suffice for binding without re-implementing DEB semantics

CMW (soon to be RFC9999) collections were designed to provide a more flexible alternative to DEBs. Entries are typed, can have declared purpose, contain data other than claim sets, can be recursive, can be independently signed and can have multiple binding values. or indeed no direct binding values e,g for an endorsement certificate (chain). See https://datatracker.ietf.org/doc/draft-richardson-rats-composite-attesters/ for use in composite attestation. 
CMWs provide a flexible manner to add components to the CCA attestation token, reflecting some of the underlying component relationships with respect to binding and evidence storage.

> Proposed Direction
> ...the submods claim (RFC 9711 §4.2.18, key 266) is added to arm-platform-claims with one entry per detached artifact (e.g., "fal", "cmem-1", "cpu-complex"), each carrying either a Detached-Submodule-Digest or a Nested-Token (CWT/DEB) as appropriate;

While it would be possible to define the token this way, there do not appear to be any advantages and indeed some disadvantages, including:
   + The need to create intermediate tokens to cope with multiple bindings and non-EAT data
   + The need to vary the definition of the ABI used to request platform attestation tokens where additional submods are required: the ABI would need to change with every addition.

Hi Simon, can you elaborate with a couple of examples for the disadvantages?

Some examples of disadvantages:
Given DEBs subnets must hold a digest of the bundled item, that must be a claims set.

FAL case: if including as DEB then there is a need to construct a claims set to include the FAL and then prepare a digest of that claims set to add to the main token. However, that digest hash no security standing as it is just a hash of what is received from the host.

DA: the DA bindings are for multiple items (id / measurements / protocol). These would need to be in an intermediate token to satisfy the single digest requirement

Inline RV (use case: endorsing corim installed to system with corresponding FW. Picked up in realm and added to token). For DEB, this would need an artificial claim set wrapping and digest inclusion in main token when there is no need for such binding - the corim has independent integrity.

General point - any time we need to add a new component, it's necessary to pass a new digest to be added as a deb submod in the main token. This requires a redefinition of the FW ABI.

> The text in the profile is intended to indicate that the PAT underpins the signing structure for all other components of attestation and hence itself should not be carried in a DEB but that may not be clear. The following summary section probably makes that condition worse. Thank you for pointing this out, the text will be updated.

Thanks Simon. Can you please confirm that the text and CDDL be updated to allow Detached EAT Bundles? Clarification based on what you stated (a) I indeed expect `Detached-EAT-Bundle.main-token` to be the signed platform token and not send the platform token as `Detached-EAT-Bundle.detached-claims-sets`. I am copying the relevant CDDL below so that my references to `Detached-EAT-Bundle.main-token` and `Detached-EAT-Bundle.detached-claims-sets` can be interpreted unambiguously. Perhaps we should use the acronym DCS for `Detached-EAT-Bundle.detached-claims-set`s to avoid confusion with DEB which is used for the whole bundle consisting of main token and one or more DCSs.

```
Detached-EAT-Bundle = [
    main-token : Nested-Token,
    detached-claims-sets: {
        + tstr => JC<json-wrapped-claims-set,
                     cbor-wrapped-claims-set>
    }
]
```

> There is documentation in the RMM spec (DEN0137) that indicates where the security hash for the FAL resides (see ref UJJLJT) and for the transport (additional CMW entry, see ref IPTKYD). The design for the FAL is that it lives in the host, due to its unbounded nature and is retrieved via RHI (DEN0148) and added to the attestation token. A full write up of the end to end attestation system has been prepared, but is awaiting a decision on the correct publication vehicle.

To clarify,
1. In the text you cited, I was referring to "transport for the FAL" i.e mechanism for transmission of *unhashed* FAL.
2. Also, when we transmit FAL, we need verifier to be able to connect the dots to the correct FAL. Imagine N acclerators devices also having FAL or CPU itself being a composite device sending multiple FALs.



> This is a misunderstanding of the platform token. It captures the full TCB for the CCA platform. The entries in arm-platform-sw-components is the set of loaded components (FW + config) included in that TCB. All CPU instances in CCA have the same CCA platform boot state (see DEN0086). What may be possible, where multiple RoT instances cannot form a unified identity or elect a primary to handle attestation is that the hardware state of peers to the current RoT supplying the PAT may need to be declared. The arm-platform-peer-signer claim is used to capture these other identities.

The situation I was referring to when using the term lead attester is different from case of multiple CPUs. To see this, consider the case of a single CPU from #2 in my original write up. A single CPU can still be a lead attester with one or more sub-attesters (chiplet-a and chiplet-b). The lead attester is not aware of the internals of sub-attesters. In RFC 9711 world, the subattesters chiplet-a and chiplet-b would be submodules and sent as EAT.submods claim since lead attester is unable to flatten out the claims from subattesters into sw-components array.

> Note that where multiple attached devices may be present, the current claim set uses array entries for the bindings avoiding name clashes on extra components.

Can you clarify which area you're referring to? I was referring to raw evidence and cert chain not hashes of those that can be sent inside PAT


> This seems to assume that the single platform verifier will have to try to understand all other attestation entries. Instead, verification of a collection token can involve multiple specific verifier modules. A lead verifier can read the CMW and then hand off the relevant entries to relevant verification modules e.g. event log handling vs EAT corim comparisons. Where binding checks are needed, these can often be done on the EAR responses where all data sets are normalised to the same data model.

I understand that there can be multiple verifiers but my write up does not assume either way. The concern I state is that act of promoting submods from all sub-attesters (CPU's sub-attesters as well as device level sub-attesters) to top level CMW will be a hazard for verifier and this would apply regardless of whether it's one or multiple verifiers. This is related to my request to allow usage of submods in main-token (which requires allowing eat-bun-cbor).

> CMW (soon to be RFC9999) collections were designed to provide a more flexible alternative to DEBs.

Just to be clear: I am not trying to argue that DEB is better than CMW. Instead, I am stating that
a. DEB is an existing standardized method for binding while CMW one will force proprietary design. For avoidance of doubt: CMW is not proprietary nor would signing of CMW be but the usage will be (and there will also be a matter of needing 2 keys which is not always available but I won't get into that unless necessary)
b. Without DEB, I am struggling to see how the case of submodules will be handled without polluting the CMW at top level and forcing a lot of CMW profiles which is bad for interop and the case of multiple verifiers.
IMO, both DEB and CMW have valid use cases. And if it helps: I am actually already using using CMW for certain cases such as collections that have an inherent binding or don't need binding.

> While it would be possible to define the token this way, there do not appear to be any advantages and indeed some disadvantages, including:

I think what would help a lot in understanding your thought process is a complete token + CMW for the following situation. Can you please provide?
1. CPU responder is a lead attester with sub-attesters
2. Each of the device responders is a lead attester with sub-attesters. A device responder may be an SPDM responder or EAT responder or another protocol.
3. We need to transmit (a) the raw evidence and (b) cert chain from devices (in case cert chain is not part of evidence)
4. We need to transmit FALs from CPU as well as devices

> Given DEBs subnets must hold a digest of the bundled item, that must be a claims set.

What exactly is the issue with a claims set?

> FAL case: if including as DEB then there is a need to construct a claims set to include the FAL and then prepare a digest of that claims set to add to the main token. However, that digest hash no security standing as it is just a hash of what is received from the host.

I see the exact same thing being done with PAT where hash of FAL is being included in sw-components array. Can you explain the difference?


> DA: the DA bindings are for multiple items (id / measurements / protocol). These would need to be in an intermediate token to satisfy the single digest requirement

As you stated, any claims set if possible as DCS. So, there is no need for a new token.
Unrelated but noting since you noted "id" and I also see fields to track SPDM version: From an abstraction standpoint, it is not desirable for PAT generator to be forced to be aware of the internals of every device such as SPDM version, id etc. Verifier has to deal with these anyway even as of today but if PAT generator is forced to be aware then there will be additional coupling between unrelated specs requiring to PAT to be update when a new spec comes along or existing spec gets updated. IMO, the device side should be largely opaque to PAT and use only high level concepts such as cert chain, evidence -- quite similar to how redfish does it so that chances of needing to update PAT to support spec changes on device side are as low as possible.


> Inline RV (use case: endorsing corim installed to system with corresponding FW. Picked up in realm and added to token). For DEB, this would need an artificial claim set wrapping and digest inclusion in main token when there is no need for such binding - the corim has independent integrity.

Can you please share a sample token and corim contents? I am unable to correlate the CoRIM endorsement with "artificial claim" while noting the claim that will be artificial and the problem caused by it?


> General point - any time we need to add a new component, it's necessary to pass a new digest to be added as a deb submod in the main token. This requires a redefinition of the FW ABI.

Can you explain how the above is different from adding a new component to array of sw-components? Can you also cite the specific scenario? For example: For case of lead attester, I don't see why ABI will be impacted

> DEB is an existing standardized method for binding while CMW one will force proprietary design. For avoidance of doubt: CMW is not proprietary nor would signing of CMW be but the usage will be 

As hopefully I'll expand below, the nature of the platform and relation to the other components in CCA attestation doesn't fit the simplified assumptions of DEB binding. 

> (and there will also be a matter of needing 2 keys which is not always available but I won't get into that unless necessary)

The CMW does not need to be signed. The basis of security is the signature of the PAT and other members of the collection have inter-component security bindings.


> A single CPU can still be a lead attester with one or more sub-attesters (chiplet-a and chiplet-b). 

To reiterate: the CCA platform is a single entity, capturing the boot state including the security lifecycle and the firmware executing in the CCA TCB per the SM. All APs must have the same boot state. Thus there is no need for different submods per chiplet/socket and we refer to the FAL as being the entity that describes the live journey for the platform. The extra evidence about other processing instances is only required if their RoTs can't guarantee a common (platform) hardware identity in which case the peer-signers concept allows those separate identities to be available.

> I think what would help a lot in understanding your thought process is a complete token + CMW for the following situation. Can you please provide?

Note given comment above, this part of the response doesn't match the breakdown requested, but describes a full set of CCA attestation components.

Beyond the platform above (PAT) there is one guaranteed additional set of workload claims: the realm token. These two can have different binding methods depending upon implementation so reside together better in a collection than in any EAT hierarchy.

There are then a set of optional evidence components. The likelihood of these existing varies from implementation to implementation. The data for many of these lives in the host so needs to be assembled at realm level to the token.
+ FAL  - present if implementation implements LFA.  Security lives in PAT and thus no other binding is required.
+ Comprehensive trust devices - CMEM devices are the key use cases here and hence the security bindings for these must live in the PAT. The bindings are held as an array and the host prepares a single CDAT for all the devices.
+ Selective trust devices - not all deployments may require this as the Realm code already has to validate and accept the device evidence. Binding values are within the RAT as the RMM stores them during device assignment interaction. Bindings are held as an array and the Realm can prepare a single SDAT for all the devices.
The process of verifying DAT data is consistent across SDAT and CDAT and has multiple phases: the items within the DAT are validated against their binding values / if the items are transcripts then the transcript validity is checked and the artifacts extracted / the artifacts are validated against RVs or Policy for trustworthiness.
+ Endorsements / RVs - not present in all deployments. Use case is that for a given deployment the host has more immediate access to these than the verifier. They are included in the collection as a convenience for the deployment. Examples: intermediate certs / CoRIM for workload measurements. There is no binding required for these as they are independently verifiable.

A lead verifier for CCA can examine the CMW map to determine which of the above components are present and then these can be validated by more specific sub-verifiers dedicated to the relevant formats. Binding checks between the components can either be provided by serial validation of dependent component or post verification across the (sub) attestation results.

> Can you explain how the above is different from adding a new component to array of sw-components? Can you also cite the specific scenario? For example: For case of lead attester, I don't see why ABI will be impacted

To add a new sw-component, the attester just adds another element to an existing structure. 
The scenario I was trying to capture was: to add a new DCS, it's necessary to add a new submodule in the main token, that contains a hash of the DCS. That hash needs to be computed over the DCS and passed to the producing component for the main token. The mechanism of passing that hash has to be a firmware ABI. Hence for any new DCS, it's necessary to add another param to that ABI.
